<h1>Listing program_courses</h1>

<table>
  <tr>
    <th>Program</th>
    <th>Course</th>
    <th>Prerequisite cid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @program_courses.each do |program_course| %>
  <tr>
    <td><%= " " %></td>
    <td><%= " "%></td>
    <td><%= " " %></td>
    <td><%= link_to 'Show', program_course %></td>
    <td><%= link_to 'Edit', edit_program_course_path(program_course) %></td>
    <td><%= link_to 'Destroy', program_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Program course', new_program_course_path %>
