<p id="notice"><%= notice %></p>
<h1> <%= @program[0].title %> </h1>

<% for i in 0..3 %>
	<% ten = 10*i %>

	<h1><%= "Year " << (i+1).to_s %></h1>
	<table>
		<tr>
			<th>Fall</th>
			<th>Spring</th>
		</tr>
		<% for j in 0..4 %>
		<tr>
			<td><%= @chosen_courses[j+ten] %></td>
   		<td><%= @chosen_courses[j+5+ten] %></td>
		</tr>
		<%end%>
 </table>
 <%end%>


<%= link_to 'Back', programs_path %>
